<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Гео понадобится позже, но можно добавить сразу -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="DegreeApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Degree_android">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Degree_android">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>